
/* ------- Fonts --------------------- */

* {
  font-family: 'Montserrat', sans-serif;
}

/* ------- Main Styles --------------------- */

body {
  background-color: #dff2f1;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.section-headline {
  color: darkslategrey;
  text-shadow: 5px 3px 3px cadetblue;
  margin-top: 30px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile, .hero {
  background-color: pink;
  margin: 20px;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
}

.tile, .tile img, .hero, .hero img {
  height: 120px;
  width: 120px;
  border-radius: 3px;
}

@media all and (min-width: 900px) {
  .main-wrapper {
    margin: 30px 100px 100px;
  }

  .section-headline {
    margin-top: 60px;
  }

  .tile, .hero {
    margin: 30px;
  }

  .tile, .tile img, .hero, .hero img {
    height: 200px;
    width: 200px;
  }
}

/* ------- Tile Animations --------------------- */

/* https://codepen.io/chrisdothtml/pen/OVmgwK?editors=0100 */

/* $anim-speed: 0.3s; */

.tiles {
  font-size: 0;
}

.tile {
  position: relative;
  overflow: hidden;
}

.tile:before {
  content: '';
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 70%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}

.tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}

.tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}

.tile:hover:before, .tile:hover span {
  opacity: 1;
}

.tile:hover:before {
  top: 30%;
}

.tile:hover span {
  top: 0;
}

.tile:hover .title {
  transition-delay: 0.15s;
}

.tile:hover .info {
  transition-delay: 0.25s;
}